<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'ajout</title>
    <link rel="stylesheet" href="/stylesheets/user-form-style.css">
</head>
<body>
    <div class="form">
        <form action="" method="post">
            <h1>Ajouter un nouvel utilisateur</h1>
            <div>
                <label for="nom">Nom & Prenom</label>
                <input type="text" id="nom" name="noms" placeholder="Essoh jean-penuel">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="penuel225@gmail.com">
            </div>
            <div>
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="password">
            </div>
            <div>
                <button type="submit">Enregistrer</button>
            </div>
        </form>
    </div>
</body>
</html>